* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Red Hat Display", sans-serif;
	background-image: url(./images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
	background-color: hsl(225, 100%, 94%);
}

.container {
	width: 80%;
	max-width: 450px;
	margin: 8% auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 20px;
}

.hero {
	background-image: url(./images/illustration-hero.svg) fixed no-repeat;
	width: 100%;
	border-radius: 20px 20px 0 0;
}

h1 {
	margin: 1.5em 0 1em 0;
	font-size: 1.75rem;
}
p {
	font-size: 1rem;
	padding: 0 10%;
	text-align: center;
	color: hsl(224, 23%, 55%);
}

.info {
	background-color: hsl(225, 100%, 98%);
	padding: 5%;
	width: 80%;
	margin: 5% 10% 10% 10%;
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
}

.music-icon {
	justify-content: left;
}

.plan {
	display: flex;
	flex-direction: column;
}
.plan-type {
	font-weight: bold;
}

.plan-price {
	justify-content: right;
	color: hsl(224, 23%, 55%);
}

.change-link {
	margin-top: 5%;
}

.change-link:hover {
	color: hsl(245, 75%, 52%);
	text-decoration: none;
}
.payment {
	color: white;
	font-size: 1rem;
	font-weight: 900;
	border: none;
	margin: 0 0 20px 0;
	padding: 15px 0;
	border-radius: 10px;
	width: 80%;

	background-color: hsl(245, 75%, 52%);
}

.payment:hover {
	box-shadow: 0 4px 12px rgb(0 0 0 / 0.2);
}
.cancel {
	background-color: white;
	color: hsl(224, 23%, 55%);
	font-size: 1rem;
	font-weight: 700;
	border: none;
	margin: 10px 0 50px 0;
}

.cancel:hover {
	color: hsl(223, 47%, 23%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 800px) {
	body {
		width: 80%;
	}
	h1 {
		font-size: 1.5rem;
	}
	.plan {
		font-size: 0.8rem;
	}
	.change {
		font-size: 0.8rem;
	}
}
